:root {
    --foreground: #444444;
    --background: #FFFFFF; 
    --superdark: #111111; 
    --primary: #007CBA;
    --secondary: #006BA1;
    --tertiary: #F0F0F0; 
}

body {
    background-color: #ffffff;
    color: var(--foreground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    margin-bottom: 8px;
}

.element {
    margin-bottom: 50px; 
    padding: 0px 25%;
}
.element:after{
    content: "";
    display: block;
    clear: both;
}