:root {
    --foreground: #444444;
    --background: #FFFFFF; 
    --superdark: #111111; 
    --primary: #007CBA;
    --secondary: #006BA1;
    --tertiary: #F0F0F0; 
}

body {
    background-color: #ffffff;
    color: var(--foreground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bodyContainer {
    padding: 0px 2%;
}

.element {
    margin-bottom: 50px; 
    padding: 0px 17%;
}

/* Social Media Bar */
.social_icon {
    float: left;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (max-width: 950px) {
    .social_icon .text {
        display: none;
    }
    .social_icon {
        padding: 0px 10px;
    }
}
.social_icon .text {
    float: left;
    padding: 8px 15px;
}
.social_icon .logo {
    float: left;
}
.social_icon :hover {
    cursor: pointer;
    background-color: var(--tertiary);
}