:root {
    --foreground: #444444;
    --background: #FFFFFF; 
    --superdark: #111111; 
    --primary: #007CBA;
    --secondary: #006BA1;
    --tertiary: #F0F0F0; 
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: var(--foreground);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

#header {
    padding: 30px;
    text-transform:uppercase;
}
#header_logo {
    float:left;
    color: var(--foreground);
}
#header_logo :hover {
    cursor:pointer;
}
#header:after {
    content: "";
    display: block;
    clear: both;
}

#bodyContainer {
    padding: 0px 2%;
}

.element {
    margin-bottom: 50px; 
    padding: 0px 17%;
}
.element:after{
    content: "";
    display: block;
    clear: both;
}

/* Social Media Bar */
.social_icon {
    float: left;
    border-radius: 10px;
    padding: 10px;
}
footer .social_icon .logo  {
    background-color: var(--tertiary);
    border-radius: 100px;
    padding: 10px;
    width: 24px;
    height: 24px;
}
@media screen and (max-width: 1000px) {
    .social_icon .text {
        display: none;
    }
    .social_icon {
        padding: 0px 10px;
    }
}
.social_icon .text {
    float: left;
    padding: 8px 15px;
}
.social_icon .logo {
    float: left;
}
.social_icon :hover {
    cursor: pointer;
}

/* CV Button */
#CV_btn_display {
    color: var(--primary);
    align-self: center;
    text-align: center;
    padding: 20px 50px;
    margin: auto;
    max-width:fit-content;
    
    border: 3px solid var(--primary);
    border-radius: 1000px;
}
#CV_btn {
    align-self: center;
    margin: auto;
    max-width:fit-content;
}
#CV_btn :hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background);
    transition: 0.2s;
}

/* Projects display */
#projectsContainer {
    columns: 2;
    column-gap: 10px;
    margin:auto;
    width:800px;
}
@media screen and (max-width: 1400px) {
    #projectsContainer {
        columns: 1;
        width:350px;
    }
}
.project {
    object-fit: cover;
    margin: 5px;
    width: 350px;
    float: left;
}
.project:hover > img {
    filter: blur(2px);
    cursor:pointer;
    transition: 0.2s;
}
.project:hover > a {
    display: block;
    z-index: 100;
    transition: 0.2s;
}

footer {
    width:100%;
    padding: 50px 0px;
    background-color: var(--superdark);
    color: var(--tertiary)
}
#footerContainer {
    width: 800px;
    margin:auto;
    columns:2;
}
@media screen and (max-width: 1400px) {
    #footerContainer {
        columns: 1;
        width:350px;
    }
}